<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Apps enabled here will not be able to detect whether your screen is being recorded or mirrored. FairPlay DRM (such as e.g. Netflix videos being blacked out in the recording) is NOT bypassed by this.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.opa334.notrecordingprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>defaults</key>
			<string>com.opa334.notrecordingprefs</string>
			<key>key</key>
			<string>enabledApplications</string>
			<key>label</key>
			<string>Select Apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>PostNotification</key>
			<string>com.opa334.notrecordingprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2019-2022 Lars Fröder (opa334)</string>
		</dict>
	</array>
	<key>title</key>
	<string>NotRecording</string>
</dict>
</plist>
